{% extends "base_generic.html" %} {% block content %}

<h1>Local Library</h1>

<p>Welcome to
    <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2 class = "mt-5">Dynamic content</h2>
<p>The library has the following record counts:</p>

<ul class="list-group list-group-flush ">
    <li class="list-group-item">
        <strong>Books : </strong>{{num_books}}</li>
    <li class="list-group-item">
        <strong>Copies : </strong>{{num_instances}}</li>
    <li class="list-group-item">
        <strong>Copies available : </strong>{{num_instances_available}}</li>
    <li class="list-group-item">
        <strong>Authors : </strong>{{num_authors}}</li>
</ul>




<div class="alert alert-light" role="alert">
    <p>You have visited this page {{ num_visits }} times.
    <p>您是第{{count}}个访问本站的朋友
    <p>访问时间:{{time}}
</div>



{% endblock %}